<div class="thread-item">
    <section class="thread-header">
        <div class="thread-meta">
            <a href="{{ t.addon_meta.url }}">
                <img class="addon-icon" src="{{ t.addon_meta.thumbnail_url }}"/>
                <div class="addon-name">
                    {{ t.addon_meta.name }}
                </div>
            </a>
            <h3 class="note-count" data-count="{{ t.notes_count }}">{{ _plural('One note', '{n} notes', n=t.notes_count) }}</h3>
        </div>
        <button class="button alt reply open-reply">Respond</button>
        <div class="c"></div>
        <div class="reply-box hidden">
            <textarea data-thread-id="{{ t.id }}" data-addon-id="{{ t.addon }}" data-version-id="{{ t.version }}" placeholder="Enter text here" class="reply-text" rows="4" cols="80" name="body" required maxlength="150"></textarea>
            <button class="button alt post disabled">Post</button>
    </section>
    <section class="notes-container">
        {% set notes = t.recent_notes %}
        {% for note in notes %}
        {% include 'comm/note_detail.html' %}
        {% endfor %}
    </section>
</div>