.api-container {
	border-bottom: 1px solid #ddd;
}

.endpoint-container {
	padding: 10px;

	&.focused {
		background-color: white;
	}

	.api-endpoint {
		cursor: pointer;
	}

	input {
		margin: 5px;
	}

	.button {
		margin-top: 5px;
	}

	pre.response {
		margin-top: 5px;
	}
}
